*, *:after, *:before {
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0;
	background-color: $bg-color;
	font-family: $main-font;
	font-size: $main-font-size;
	color: $main-font-color;

	.page-header {
		background-color: $header-bg-color;
		content:"";
		text-align: center;
		line-height: 1rem;
		padding: 0.7rem;
	}

	h1 {
		@include make-h($default-margin, $header-font-color, $h1-font-size);
		padding: 0.875rem;
		line-height: 2rem;
	}

	h2 {
		@include make-h($default-margin, $header-font-color, $h2-font-size);
	}

	input {
		border: 1px solid #c8c8c8;
		border-radius: 0.15rem;
		padding: 0.15rem;
	}

	label {
		margin-right: 0.525em;
	}

	button {
		color: #fff;
		text-decoration: none;
		font-family: $main-font;
		font-size: $btn-font-size;
		display: inline-block;
		margin: 0.125rem;
		text-align: center;
		border: $border;
		border-radius: 0.225em;
		@include make-btn(0.2rem 0.4rem, $main-btn-color);

		&:disabled {
			background-color: #eee !important;
			color: $main-border-color;
		}

		&.main {
			@include make-btn(0.3em 0.8em, #e8645a);
		}
	}
}

